# 1 Lubbock ISD STAAR Analysis<a id='1_Lubbock_analysis'></a>

Next Steps:
1. Create data tables or graphs to show the subgroups for each school or district
2. Rank the performance schools (both by average score and most number of students not meeting) for math and reading
3. Demonstrate how far away each school was from the district average for math and reading
4. Create a profile image in the powerpoint - what is each student made up of
5. Use easy to understand terms like - an Asian student is 10x more likely to pass the 6th grade reading than a Black student in X school

## 1.1 Contents<a id='1.1_Contents'></a>
* [1 Lubbock ISD STAAR Analysis](#1_Lubbock_analysis)
  * [1.1 Contents](#1.1_Contents)
  * [1.2 Overview](#1.2_Overview)
    * [1.2.1 Context](#1.2.1_Context)
    * [1.2.2 Criteria for Success](#1.2.2_Criteria_for_Success)
    * [1.2.3 Scope and Constraints](#1.2.3_Scope)
    * [1.2.4 Stakeholders](#1.2.4_Stakeholders)
    * [1.2.5 Data Sources](#1.2.5_Data)
  * [1.3 Import Libraries](#1.3_Libraries)
  * [1.4 Load and Preview the Data](#1.4_Load)
  * [1.5 Clean and Prepare Data](#1.5_Clean)
    * [1.5.1 Data Types](#1.5.1_Data_types)
    * [1.5.2 Location Names and Totals](#1.5.2_Location)
    * [1.5.3 Merge Datasets](#1.5.3_Merge)
    * [1.5.4 Column Calculations](#1.5.4_Column_calculations)
    * [1.5.5 Column Names and Order](#1.5.5_Column_names)
    * [1.5.6 Dropping Rows](#1.5.6_Dropping_rows)
  * [1.6 Summary Statistics](#1.6_Summary_statistics)
  * [1.7 Modeling](#1.7_Modeling)
  * [1.8 Recommendations](#1.8_Recommendations)
  * [1.9 Summary](#1.9_Summary)

## 1.2 Overview<a id='1.2_Overview'></a>

The purpose of this project is to **identify a subset of middle schools in Lubbock ISD that have the greatest need for performance**.

### 1.2.1 Context<a id='1.2.1_Context'></a>

Lubbock ISD has 11 middle schools including one juvenile detention facility. Of these schools, Smylie Wilson was closed in spring 2020 and McCool Academy opened in fall 2020; McCool is a choice school versus Wilson was a high-poverty boundary. Talkington is a choice school where students need to qualify.

The STAAR results for Texas schools were recently released; proficiency levels have remained consistent across years. Students are counted in multiple categories (i.e., approaches includes meets and masters; meets includes masters).

### 1.2.2 Criteria for Success<a id='1.2.2_Criteria_for_Success'></a>

Success will identifying a subset of schools that have the greatest need for increased performance.

### 1.2.3 Scope and Constraints<a id='1.2.3_Scope'></a>

The focus will be identifying high priority middle schools in Lubbock ISD using 20-21 and historical STAAR data. No additional data sources are considered; neither elementary or high schools are considered. Additionally, note that

- Data is available at the grade-level, not at the student level.
- Additional data, such as attendance, is not available for analysis.
- No data is available for SY19-20 due to the COVID pandemic.
- Math and literacy are tested for all grades; science is tested in 5th and 8th grade; social studies is tested in 8th grade only
- Any group with less than 5 students does not show results for privacy reasons

### 1.2.4 Stakeholders<a id='1.2.4_Stakeholders'></a>

The analysis will be presented to **Brian Eschbacher of Bell Creek Consulting** in a format appropriate for a cabinet meeting with the superintendent of Lubbock ISD.

### 1.2.5 Data Sources<a id='1.2.5_Data'></a>

Data was gathered from two sources:

1. XLSX of historical data school-level provided by Brian Eschbacher (disaggregated by admin, grade, and EcoDis)
2. CSV downloaded from the [Data Interaction website](https://txreports.emetric.net/?domain=1&report=1) with the following specifications:
- Program: STAAR 3-8
- Report: Group Summary: Performance Levels
- Admin/Grade: 6, 7, 8 for Spring 2021 and Spring 2019
- Subject: Reading, Mathematics, Writing, Science, and Social Studies
- Organization: State, Lubbock ISD, Atkins MS, Cavazos MS, Commander William C. McCool Acad., Dunbar College Prep Acad., Evans MS, Hutchinson MS, Irons MS, Lubbock County Juvenile Justice Center, Mackenzie MS, Slaton MS, Smylie Wilson MS, Talkington School for Young Women Leaders
- Disaggreation: Gender, Ethnicity, Economically Disadvantaged, LEP, Special Education
- Other: Show N count for all performance bands; data transposed

## 1.3 Import Libriaries <a id='1.3_Libraries'></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

## 1.4 Load and Preview the Data <a id='1.4_Load'></a>

In [2]:
# Read in the downloaded current data as df_current and the historical data as df_hist
df = pd.read_csv("report_final.csv", header = 1)
df_hist = pd.read_excel("Middle School State Proficiency Data.xlsx", header = 2)

In [3]:
df.head()

,Group,Version,Subject,Admin,Grade,Number Tested,Average Scale Score,Did Not Meet - N,Did Not Meet - %,Approaches - N,Approaches - %,Meets - N,Meets - %,Masters - N,Masters - %,Org Id
0,LUBBOCK ISD,STAAR,Reading,Spring 2019,6,2130,1543,956,45,1174,55,592,28,273,13,152901
1,Male,STAAR,Reading,Spring 2019,6,1063,1524,525,49,538,51,237,22,101,10,152901
2,Female,STAAR,Reading,Spring 2019,6,1066,1563,431,40,635,60,355,33,172,16,152901
3,No Gender Provided,STAAR,Reading,Spring 2019,6,1,-,-,-,-,-,-,-,-,-,152901
4,Hispanic/Latino,STAAR,Reading,Spring 2019,6,1300,1522,652,50,648,50,268,21,110,8,152901

In [4]:
df_hist.head()

,Org Id,Group,EcoDis (FRL) %,Admin,Grade,STAAR - Reading - Number Tested,STAAR - Reading - Average Scale Score,STAAR - Reading - Did Not Meet - %,STAAR - Reading - Approaches - %,STAAR - Reading - Meets - %,STAAR - Reading - Masters - %,STAAR - Mathematics - Number Tested,STAAR - Mathematics - Average Scale Score,STAAR - Mathematics - Did Not Meet - %,STAAR - Mathematics - Approaches - %,STAAR - Mathematics - Meets - %,STAAR - Mathematics - Masters - %
0,152901061,ATKINS M.S.,0.880524,Spring 2018,6,200,1516,48,52,18,6,201.0,1565.0,42.0,58.0,18.0,3.0
1,152901061,ATKINS M.S.,0.880524,Spring 2018,7,200,1580,49,52,25,8,200.0,1580.0,56.0,45.0,13.0,4.0
2,152901061,ATKINS M.S.,0.880524,Spring 2018,8,194,1633,33,67,28,10,166.0,1625.0,38.0,62.0,17.0,2.0
3,152901061,ATKINS M.S.,0.880524,Spring 2019,6,201,1514,51,49,17,6,201.0,1561.0,35.0,65.0,15.0,1.0
4,152901061,ATKINS M.S.,0.880524,Spring 2019,7,190,1579,43,57,24,12,191.0,1599.0,41.0,59.0,18.0,4.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3193 entries, 0 to 3192
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Group                3193 non-null   object
 1   Version              3193 non-null   object
 2   Subject              3193 non-null   object
 3   Admin                3193 non-null   object
 4   Grade                3193 non-null   int64
 5   Number Tested        3193 non-null   int64
 6   Average Scale Score  3193 non-null   object
 7   Did Not Meet - N     3193 non-null   object
 8   Did Not Meet - %     3193 non-null   object
 9   Approaches - N       3193 non-null   object
 10  Approaches - %       3193 non-null   object
 11  Meets - N            3193 non-null   object
 12  Meets - %            3193 non-null   object
 13  Masters - N          3193 non-null   object
 14  Masters - %          3193 non-null   object
 15  Org Id               3193 non-null   int64
dtypes: int64(3), object(13)
memory usage: 399.2+ KB

In [6]:
df.columns

Index(['Group', 'Version', 'Subject', 'Admin', 'Grade', 'Number Tested',
       'Average Scale Score', 'Did Not Meet - N', 'Did Not Meet - %',
       'Approaches - N', 'Approaches - %', 'Meets - N', 'Meets - %',
       'Masters - N', 'Masters - %', 'Org Id'],
      dtype='object')

In [7]:
df_hist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 17 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Org Id                                     89 non-null     int64
 1   Group                                      89 non-null     object
 2   EcoDis (FRL) %                             87 non-null     float64
 3   Admin                                      89 non-null     object
 4   Grade                                      89 non-null     int64
 5   STAAR - Reading - Number Tested            89 non-null     int64
 6   STAAR - Reading - Average Scale Score      89 non-null     int64
 7   STAAR - Reading - Did Not Meet - %         89 non-null     int64
 8   STAAR - Reading - Approaches - %           89 non-null     int64
 9   STAAR - Reading - Meets - %                89 non-null     int64
 10  STAAR - Reading - Masters - %              89 non-null     int64
 11  STAAR - Mathematics - Number Tested        88 non-null     float64
 12  STAAR - Mathematics - Average Scale Score  88 non-null     float64
 13  STAAR - Mathematics - Did Not Meet - %     88 non-null     float64
 14  STAAR - Mathematics - Approaches - %       88 non-null     float64
 15  STAAR - Mathematics - Meets - %            88 non-null     float64
 16  STAAR - Mathematics - Masters - %          88 non-null     float64
dtypes: float64(7), int64(8), object(2)
memory usage: 11.9+ KB

## 1.5 Clean and Prepare Data <a id='1.5_Clean'></a>

### 1.5.1 Data Types <a id='1.5.1_Data_types'></a>

Based on df.info() above, the data types for all score-related columns (6-14) need to be changed to numeric.

In [8]:
# Change the data types to numeric for all scores
score_cols = ['Average Scale Score', 'Did Not Meet - N', 'Did Not Meet - %',
       'Approaches - N', 'Approaches - %', 'Meets - N', 'Meets - %',
       'Masters - N', 'Masters - %']

df[score_cols] = df[score_cols].apply(pd.to_numeric, errors='coerce')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3193 entries, 0 to 3192
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Group                3193 non-null   object
 1   Version              3193 non-null   object
 2   Subject              3193 non-null   object
 3   Admin                3193 non-null   object
 4   Grade                3193 non-null   int64
 5   Number Tested        3193 non-null   int64
 6   Average Scale Score  2428 non-null   float64
 7   Did Not Meet - N     2428 non-null   float64
 8   Did Not Meet - %     2428 non-null   float64
 9   Approaches - N       2428 non-null   float64
 10  Approaches - %       2428 non-null   float64
 11  Meets - N            2428 non-null   float64
 12  Meets - %            2428 non-null   float64
 13  Masters - N          2428 non-null   float64
 14  Masters - %          2428 non-null   float64
 15  Org Id               3193 non-null   int64
dtypes: float64(9), int64(3), object(4)
memory usage: 399.2+ KB

### 1.5.2 Location Names and Totals <a id='1.5.2_Location'></a>

For readability and grouping, the "Org Id: numbers in df should be replaced with the names of the locations. Also, the locations in the "Group" column are actually totals and should be renamed as total (the location name will be in the "Org Id" column).

For df_hist, values the "Org Id" column can be replaced with the same location names; the "Group" column can be dropped.

In [9]:
# Replace Org ID columns with names of locations
location_dict = {0: 'State',
                152901: 'Lubbock',
                152901061: 'Atkins',
                152901062: 'Cavazos',
                152901063: 'Dunbar',
                152901064: 'Evans',
                152901065: 'Hutchinson',
                152901066: 'Irons',
                152901067: 'Mackenzie',
                152901068: 'Slaton',
                152901069: 'Smylie',
                152901024: 'Talkington',
                152901070: 'McCool',
                152901017: 'Juvenile Detention'}

df.replace({'Org Id': location_dict}, inplace = True)

df.head()

,Group,Version,Subject,Admin,Grade,Number Tested,Average Scale Score,Did Not Meet - N,Did Not Meet - %,Approaches - N,Approaches - %,Meets - N,Meets - %,Masters - N,Masters - %,Org Id
0,LUBBOCK ISD,STAAR,Reading,Spring 2019,6,2130,1543.0,956.0,45.0,1174.0,55.0,592.0,28.0,273.0,13.0,Lubbock
1,Male,STAAR,Reading,Spring 2019,6,1063,1524.0,525.0,49.0,538.0,51.0,237.0,22.0,101.0,10.0,Lubbock
2,Female,STAAR,Reading,Spring 2019,6,1066,1563.0,431.0,40.0,635.0,60.0,355.0,33.0,172.0,16.0,Lubbock
3,No Gender Provided,STAAR,Reading,Spring 2019,6,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lubbock
4,Hispanic/Latino,STAAR,Reading,Spring 2019,6,1300,1522.0,652.0,50.0,648.0,50.0,268.0,21.0,110.0,8.0,Lubbock

In [10]:
# Replace locations in the group column with "Total"
total_dict = {'LUBBOCK ISD': 'Total', 
              'ATKINS M.S.': 'Total',
              'CAVAZOS M.S.': 'Total', 
              'COMMANDER WILLIAM C. MCCOOL ACAD.': 'Total',
              'DUNBAR COLLEGE PREP. ACAD.': 'Total', 
              'EVANS M.S.': 'Total', 
              'HUTCHINSON M.S.': 'Total',
              'IRONS M.S.': 'Total', 
              'LUBBOCK COUNTY JUVENILE JUSTICE CENTER': 'Total',
              'MACKENZIE M.S.': 'Total', 
              'SLATON M.S.': 'Total', 
              'SMYLIE WILSON M.S.': 'Total',
              'TALKINGTON SCHOOL FOR YOUNG WOMEN LEADERS': 'Total',
             'State': 'Total'}

df.replace({'Group': total_dict}, inplace = True)

df.head()

,Group,Version,Subject,Admin,Grade,Number Tested,Average Scale Score,Did Not Meet - N,Did Not Meet - %,Approaches - N,Approaches - %,Meets - N,Meets - %,Masters - N,Masters - %,Org Id
0,Total,STAAR,Reading,Spring 2019,6,2130,1543.0,956.0,45.0,1174.0,55.0,592.0,28.0,273.0,13.0,Lubbock
1,Male,STAAR,Reading,Spring 2019,6,1063,1524.0,525.0,49.0,538.0,51.0,237.0,22.0,101.0,10.0,Lubbock
2,Female,STAAR,Reading,Spring 2019,6,1066,1563.0,431.0,40.0,635.0,60.0,355.0,33.0,172.0,16.0,Lubbock
3,No Gender Provided,STAAR,Reading,Spring 2019,6,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lubbock
4,Hispanic/Latino,STAAR,Reading,Spring 2019,6,1300,1522.0,652.0,50.0,648.0,50.0,268.0,21.0,110.0,8.0,Lubbock

In [11]:
# Replace Org ID columns with names of locations
df_hist.replace({'Org Id': location_dict}, inplace = True)

df_hist.head()

,Org Id,Group,EcoDis (FRL) %,Admin,Grade,STAAR - Reading - Number Tested,STAAR - Reading - Average Scale Score,STAAR - Reading - Did Not Meet - %,STAAR - Reading - Approaches - %,STAAR - Reading - Meets - %,STAAR - Reading - Masters - %,STAAR - Mathematics - Number Tested,STAAR - Mathematics - Average Scale Score,STAAR - Mathematics - Did Not Meet - %,STAAR - Mathematics - Approaches - %,STAAR - Mathematics - Meets - %,STAAR - Mathematics - Masters - %
0,Atkins,ATKINS M.S.,0.880524,Spring 2018,6,200,1516,48,52,18,6,201.0,1565.0,42.0,58.0,18.0,3.0
1,Atkins,ATKINS M.S.,0.880524,Spring 2018,7,200,1580,49,52,25,8,200.0,1580.0,56.0,45.0,13.0,4.0
2,Atkins,ATKINS M.S.,0.880524,Spring 2018,8,194,1633,33,67,28,10,166.0,1625.0,38.0,62.0,17.0,2.0
3,Atkins,ATKINS M.S.,0.880524,Spring 2019,6,201,1514,51,49,17,6,201.0,1561.0,35.0,65.0,15.0,1.0
4,Atkins,ATKINS M.S.,0.880524,Spring 2019,7,190,1579,43,57,24,12,191.0,1599.0,41.0,59.0,18.0,4.0

In [12]:
# Drop the Group column
df_hist.drop(columns='Group', inplace = True)

df_hist.head()

,Org Id,EcoDis (FRL) %,Admin,Grade,STAAR - Reading - Number Tested,STAAR - Reading - Average Scale Score,STAAR - Reading - Did Not Meet - %,STAAR - Reading - Approaches - %,STAAR - Reading - Meets - %,STAAR - Reading - Masters - %,STAAR - Mathematics - Number Tested,STAAR - Mathematics - Average Scale Score,STAAR - Mathematics - Did Not Meet - %,STAAR - Mathematics - Approaches - %,STAAR - Mathematics - Meets - %,STAAR - Mathematics - Masters - %
0,Atkins,0.880524,Spring 2018,6,200,1516,48,52,18,6,201.0,1565.0,42.0,58.0,18.0,3.0
1,Atkins,0.880524,Spring 2018,7,200,1580,49,52,25,8,200.0,1580.0,56.0,45.0,13.0,4.0
2,Atkins,0.880524,Spring 2018,8,194,1633,33,67,28,10,166.0,1625.0,38.0,62.0,17.0,2.0
3,Atkins,0.880524,Spring 2019,6,201,1514,51,49,17,6,201.0,1561.0,35.0,65.0,15.0,1.0
4,Atkins,0.880524,Spring 2019,7,190,1579,43,57,24,12,191.0,1599.0,41.0,59.0,18.0,4.0

### 1.5.3 Merge Datasets <a id='1.5.3_Merge'></a>

Merge the two data sets by 
1. Store the EcoDis data in a separate dataframe
2. Remove the Spring 2021 and Spring 2019 data from the historical dataset
3. Add missing columns to historical data sets
4. Manipulate historical data to align with current data
5. Merge the historical and current datasets
6. Merge the EcoDis data back

In [13]:
# Create a dataframe from the historical data that has the location, ecodis, admin, and grade
df_ecodis = df_hist.iloc[:, 0:4]

In [14]:
# Drop the Spring 2021 and Spring 2019 data from the historical data set
df_hist = df_hist.loc[(df_hist['Admin'] == 'Spring 2018')]

df_hist.head()

,Org Id,EcoDis (FRL) %,Admin,Grade,STAAR - Reading - Number Tested,STAAR - Reading - Average Scale Score,STAAR - Reading - Did Not Meet - %,STAAR - Reading - Approaches - %,STAAR - Reading - Meets - %,STAAR - Reading - Masters - %,STAAR - Mathematics - Number Tested,STAAR - Mathematics - Average Scale Score,STAAR - Mathematics - Did Not Meet - %,STAAR - Mathematics - Approaches - %,STAAR - Mathematics - Meets - %,STAAR - Mathematics - Masters - %
0,Atkins,0.880524,Spring 2018,6,200,1516,48,52,18,6,201.0,1565.0,42.0,58.0,18.0,3.0
1,Atkins,0.880524,Spring 2018,7,200,1580,49,52,25,8,200.0,1580.0,56.0,45.0,13.0,4.0
2,Atkins,0.880524,Spring 2018,8,194,1633,33,67,28,10,166.0,1625.0,38.0,62.0,17.0,2.0
9,Cavazos,0.988909,Spring 2018,6,175,1500,57,43,14,4,174.0,1611.0,24.0,76.0,33.0,9.0
10,Cavazos,0.988909,Spring 2018,7,199,1578,49,51,20,11,198.0,1606.0,45.0,55.0,22.0,6.0

In [15]:
# Separate the math, reading, and meta data
df_hist_reading = df_hist.iloc[:, 4:10]
df_hist_math = df_hist.iloc[:, 10:16]
df_hist_meta= df_hist.iloc[:, 0:4]

# Add missing columns
df_hist_reading['Subject'] = 'Reading'
df_hist_math['Subject'] = 'Mathematics'
df_hist_reading['Version'] = 'STAAR'
df_hist_math['Version'] = 'STAAR'
df_hist_reading['Group'] = 'Total'
df_hist_math['Group'] = 'Total'

# Add meta data to math and reading separately
df_hist_math_complete = df_hist_math.join(df_hist_meta, how='outer')
df_hist_reading_complete = df_hist_reading.join(df_hist_meta, how='outer')

In [16]:
# Rename math columns without math
df_hist_math_complete.rename(columns = {'STAAR - Mathematics - Number Tested': 'Number Tested',
                                        'STAAR - Mathematics - Average Scale Score':'Average Scale Score',
                                        'STAAR - Mathematics - Did Not Meet - %':'Did Not Meet - %',
                                        'STAAR - Mathematics - Approaches - %': 'Approaches - %',
                                        'STAAR - Mathematics - Meets - %': 'Meets - %', 
                                        'STAAR - Mathematics - Masters - %': 'Masters - %'}, inplace = True)

In [17]:
# Rename reading columns without reading
df_hist_reading_complete.rename(columns = {'STAAR - Reading - Number Tested': 'Number Tested',
                                        'STAAR - Reading - Average Scale Score':'Average Scale Score',
                                        'STAAR - Reading - Did Not Meet - %':'Did Not Meet - %',
                                        'STAAR - Reading - Approaches - %': 'Approaches - %',
                                        'STAAR - Reading - Meets - %': 'Meets - %', 
                                        'STAAR - Reading - Masters - %': 'Masters - %'}, inplace = True)

In [18]:
# Drop the EcoDis columns
df_hist_math_complete.drop(columns='EcoDis (FRL) %', inplace = True)
df_hist_reading_complete.drop(columns='EcoDis (FRL) %', inplace = True)

In [19]:
# Concatenate the math and reading dataframes
df_hist_complete = pd.concat([df_hist_math_complete, df_hist_reading_complete])

In [20]:
# Reorder the columns in df_hist_complete to concat with df
cols_hist = df_hist_complete.columns.tolist()

cols_hist = ['Group', 'Version', 'Subject', 'Admin', 'Grade', 'Number Tested',
       'Average Scale Score', 'Did Not Meet - %', 'Approaches - %',
       'Meets - %', 'Masters - %', 'Org Id']

df_hist_complete = df_hist_complete[cols_hist]

In [21]:
df.head()

,Group,Version,Subject,Admin,Grade,Number Tested,Average Scale Score,Did Not Meet - N,Did Not Meet - %,Approaches - N,Approaches - %,Meets - N,Meets - %,Masters - N,Masters - %,Org Id
0,Total,STAAR,Reading,Spring 2019,6,2130,1543.0,956.0,45.0,1174.0,55.0,592.0,28.0,273.0,13.0,Lubbock
1,Male,STAAR,Reading,Spring 2019,6,1063,1524.0,525.0,49.0,538.0,51.0,237.0,22.0,101.0,10.0,Lubbock
2,Female,STAAR,Reading,Spring 2019,6,1066,1563.0,431.0,40.0,635.0,60.0,355.0,33.0,172.0,16.0,Lubbock
3,No Gender Provided,STAAR,Reading,Spring 2019,6,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lubbock
4,Hispanic/Latino,STAAR,Reading,Spring 2019,6,1300,1522.0,652.0,50.0,648.0,50.0,268.0,21.0,110.0,8.0,Lubbock

In [22]:
# Concatenate the two dataframes
df = pd.concat([df, df_hist_complete])

In [23]:
df.head()

,Group,Version,Subject,Admin,Grade,Number Tested,Average Scale Score,Did Not Meet - N,Did Not Meet - %,Approaches - N,Approaches - %,Meets - N,Meets - %,Masters - N,Masters - %,Org Id
0,Total,STAAR,Reading,Spring 2019,6,2130.0,1543.0,956.0,45.0,1174.0,55.0,592.0,28.0,273.0,13.0,Lubbock
1,Male,STAAR,Reading,Spring 2019,6,1063.0,1524.0,525.0,49.0,538.0,51.0,237.0,22.0,101.0,10.0,Lubbock
2,Female,STAAR,Reading,Spring 2019,6,1066.0,1563.0,431.0,40.0,635.0,60.0,355.0,33.0,172.0,16.0,Lubbock
3,No Gender Provided,STAAR,Reading,Spring 2019,6,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lubbock
4,Hispanic/Latino,STAAR,Reading,Spring 2019,6,1300.0,1522.0,652.0,50.0,648.0,50.0,268.0,21.0,110.0,8.0,Lubbock

In [24]:
# Merge the EcoDis data back (note that EcoDis is not available at the state or district levels)
df = pd.merge(df, df_ecodis, how='left')

### 1.5.4 Column Calculations <a id='1.5.4_Column_calculations'></a>

To better understand the number of students in each band (e.g., approaches, meets), new columns must be created from the current bands that only include students in that band.

Also, a "Check" column should be created to ensure the total of all four bands is 100%.

Columns should also be created for the total number of students in each band to allow for accurate averages across grades.

In [25]:
# Separate out the scores into each of the groups
#df['Meets_%'] = df['Meets - %'] - df['Masters - %']
#df['Approaches_%'] = df['Approaches - %'] - df['Meets - %']
#df['Check_%'] = df['Did Not Meet - %'] + df['Approaches_%'] + df['Meets_%'] + df['Masters - %']

df.head()

,Group,Version,Subject,Admin,Grade,Number Tested,Average Scale Score,Did Not Meet - N,Did Not Meet - %,Approaches - N,Approaches - %,Meets - N,Meets - %,Masters - N,Masters - %,Org Id,EcoDis (FRL) %
0,Total,STAAR,Reading,Spring 2019,6,2130.0,1543.0,956.0,45.0,1174.0,55.0,592.0,28.0,273.0,13.0,Lubbock,NaN
1,Male,STAAR,Reading,Spring 2019,6,1063.0,1524.0,525.0,49.0,538.0,51.0,237.0,22.0,101.0,10.0,Lubbock,NaN
2,Female,STAAR,Reading,Spring 2019,6,1066.0,1563.0,431.0,40.0,635.0,60.0,355.0,33.0,172.0,16.0,Lubbock,NaN
3,No Gender Provided,STAAR,Reading,Spring 2019,6,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lubbock,NaN
4,Hispanic/Latino,STAAR,Reading,Spring 2019,6,1300.0,1522.0,652.0,50.0,648.0,50.0,268.0,21.0,110.0,8.0,Lubbock,NaN

To confirm that all rows are 100% for any group with 5 or more students, filter for any that are not 100% (not that this filter is not run for readability - **the check confirmed that the only rows remaining were at 101%, which is likey due to rounding**.

In [26]:
# Confirm all rows equal 100% in check column for number tested being greater than or equal to 5 (threshold for displaying results)
#df[(df['Check_%'] != 100) & (df['Number Tested'] >= 5)]

In [27]:
# For Spring 2018, create columns to estimate the number of students in each band
#for row in df['Admin']:
   # if row == 'Spring 2018':
       # df['Did Not Meet - N'] = (df['Did Not Meet - %']/100) * df['Number Tested']
       # df['Approaches - N'] = (df['Approaches - %']/100) * df['Number Tested']
       # df['Meets - N'] = (df['Meets - %']/100) * df['Number Tested']
       # df['Masters - N'] = (df['Masters - %']/100) * df['Number Tested']

### 1.5.5 Column Names and Order <a id='1.5.5_Column_names'></a>

For readablity and and consistency, the columns should be renamed and put in a more appropriate order.

In [28]:
# Remove unnecessary columns and rename the did not meet and masters columns
#df.rename(columns = {'Did Not Meet - %':'Did Not Meet_%', 'Masters - %':'Masters_%', 'Org Id': 'Location',
                    #'Did Not Meet - N':'Did Not Meet_N', 'Approaches - N': 'Approaches_N', 'Meets - N': 'Meets_N',
                    #'Masters - N': 'Masters_N', 'EcoDis (FRL) %': 'EcoDis_%'}, inplace = True)

#df.drop(['Approaches - %', 'Meets - %', 'Check_%'], axis=1, inplace = True)

df.rename(columns = {'Org Id': 'Location'}, inplace = True)

df.head()

,Group,Version,Subject,Admin,Grade,Number Tested,Average Scale Score,Did Not Meet - N,Did Not Meet - %,Approaches - N,Approaches - %,Meets - N,Meets - %,Masters - N,Masters - %,Location,EcoDis (FRL) %
0,Total,STAAR,Reading,Spring 2019,6,2130.0,1543.0,956.0,45.0,1174.0,55.0,592.0,28.0,273.0,13.0,Lubbock,NaN
1,Male,STAAR,Reading,Spring 2019,6,1063.0,1524.0,525.0,49.0,538.0,51.0,237.0,22.0,101.0,10.0,Lubbock,NaN
2,Female,STAAR,Reading,Spring 2019,6,1066.0,1563.0,431.0,40.0,635.0,60.0,355.0,33.0,172.0,16.0,Lubbock,NaN
3,No Gender Provided,STAAR,Reading,Spring 2019,6,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lubbock,NaN
4,Hispanic/Latino,STAAR,Reading,Spring 2019,6,1300.0,1522.0,652.0,50.0,648.0,50.0,268.0,21.0,110.0,8.0,Lubbock,NaN

In [29]:
# Reorder the columns for easier review
cols = ['Location',
    'Group',
        'Version',
        'Subject',
        'Admin',
        'Grade',
        'EcoDis (FRL) %',
        'Number Tested',
        'Average Scale Score',
       'Did Not Meet - %',
       'Approaches - %',
       'Meets - %',
       'Masters - %',
       'Did Not Meet - N',
       'Approaches - N',
       'Meets - N',
       'Masters - N']

df = df[cols]

df.head()

,Location,Group,Version,Subject,Admin,Grade,EcoDis (FRL) %,Number Tested,Average Scale Score,Did Not Meet - %,Approaches - %,Meets - %,Masters - %,Did Not Meet - N,Approaches - N,Meets - N,Masters - N
0,Lubbock,Total,STAAR,Reading,Spring 2019,6,NaN,2130.0,1543.0,45.0,55.0,28.0,13.0,956.0,1174.0,592.0,273.0
1,Lubbock,Male,STAAR,Reading,Spring 2019,6,NaN,1063.0,1524.0,49.0,51.0,22.0,10.0,525.0,538.0,237.0,101.0
2,Lubbock,Female,STAAR,Reading,Spring 2019,6,NaN,1066.0,1563.0,40.0,60.0,33.0,16.0,431.0,635.0,355.0,172.0
3,Lubbock,No Gender Provided,STAAR,Reading,Spring 2019,6,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Lubbock,Hispanic/Latino,STAAR,Reading,Spring 2019,6,NaN,1300.0,1522.0,50.0,50.0,21.0,8.0,652.0,648.0,268.0,110.0

### 1.5.6 Dropping Rows <a id='1.5.6_Dropping_rows'></a>

Given that the dataset does not include results for student groups with less than five students, those rows should be dropped.

In [30]:
# Drop all rows where the Average Scale Score is not reported (i.e., NaN)
df.dropna(subset = ['Average Scale Score'], inplace = True)

## 1.6 Summary Statistics <a id='1.6_Summary_statistics'></a>

Start with who took the exam in the district in 2021

In [31]:
#Subset the df to see scores in 2021 at the grade-level
df_21 = df['Admin'] == 'Spring 2021'
df_total = df['Group'] == 'Total'
df_core = (df['Subject'] == 'Mathematics') | (df['Subject'] == 'Reading')
df_reading = df['Subject'] == 'Reading'
df_math = df['Subject'] == 'Mathematics'
df_6 = df['Grade'] == 6
df_7 = df['Grade'] == 7
df_8 = df['Grade'] == 8
df_21_total_core = df[df_21 & df_total & df_core]
df_21_total_reading = df[df_21 & df_total & df_reading]
df_21_total_math = df[df_21 & df_total & df_math]
df_21_total_6 = df[df_21 & df_total & df_6]
df_21_total_7 = df[df_21 & df_total & df_7]
df_21_total_8 = df[df_21 & df_total & df_8]

In [32]:
# Create lists for only the schools and all locations
schools = ['Atkins', 'Cavazos', 'McCool', 'Dunbar','Evans', 'Hutchinson', 'Irons', 'Juvenile Detention', 'Mackenzie','Slaton', 'Smylie', 'Talkington']
all_locations = ['State', 'Lubbock', 'Atkins', 'Cavazos', 'McCool', 'Dunbar', 'Evans', 'Hutchinson', 'Irons', 'Juvenile Detention', 'Mackenzie', 'Slaton', 'Smylie', 'Talkington']

In [33]:
# Create lists of all subgroup categories
ethnicity = ['Hispanic/Latino', 'American Indian or Alaskan Native', 'Asian', 'Black or African American', 'White', 'Two or More Races']
gender = ['Male', 'Female', 'No Gender Provided']
ecodis = ['Economically Disadvantaged', 'Not Economically Disadvantaged', 'No ED Info. Provided']
lep = ['Current LEP', 'Non-LEP (Monitored 1st Year)', 'Non-LEP (Monitored 2nd Year)', 'Non-LEP (Monitored 3rd Year)', 'Non-LEP (Monitored 4th Year)',
       'Other Non-LEP', 'No LEP Info. Provided', 'Non-LEP (Post Monitoring)']
sped = ['Not Special Education', 'No Special Education Info. Provided']

In [34]:
# Call the filter functino on all locaitons to create filtered dataframes within a dictionary
#school_year_dict = {}
#for location in all_locations:
   # school_year_dict["{0}_21".format(location)] = filter_school_year(location, 'Spring 2021')

In [35]:
#df.plot(kind='scatter', x='Did Not Meet %', y='Masters%')

In [ ]:
# Check to see if two data frames are equal
#df_21_meets.merge(function_check,indicator = True, how='left').loc[lambda x : x['_merge']!='both']

## Ideas for Analysis
- Who is in the district? How different are the schools by race, SWD, EL, etc? Like a simple student profile
- How many students took the 2021 STAAR exams by school? How does that compare historically?
- Do students of color exist in disproporiate numbers in poverty schools?
- DROP rows with NaNs

Visuals or tables to create

-

**Good content to add**
- Participation rate (why did so many more students take the reading exam than math?
-

# Revised Analysis (7/17)

For math and literacy at the schools, how many students were proficient (meets/masters)?

1.

In [36]:
df.head()

,Location,Group,Version,Subject,Admin,Grade,EcoDis (FRL) %,Number Tested,Average Scale Score,Did Not Meet - %,Approaches - %,Meets - %,Masters - %,Did Not Meet - N,Approaches - N,Meets - N,Masters - N
0,Lubbock,Total,STAAR,Reading,Spring 2019,6,NaN,2130.0,1543.0,45.0,55.0,28.0,13.0,956.0,1174.0,592.0,273.0
1,Lubbock,Male,STAAR,Reading,Spring 2019,6,NaN,1063.0,1524.0,49.0,51.0,22.0,10.0,525.0,538.0,237.0,101.0
2,Lubbock,Female,STAAR,Reading,Spring 2019,6,NaN,1066.0,1563.0,40.0,60.0,33.0,16.0,431.0,635.0,355.0,172.0
4,Lubbock,Hispanic/Latino,STAAR,Reading,Spring 2019,6,NaN,1300.0,1522.0,50.0,50.0,21.0,8.0,652.0,648.0,268.0,110.0
5,Lubbock,American Indian or Alaskan Native,STAAR,Reading,Spring 2019,6,NaN,14.0,1537.0,50.0,50.0,29.0,7.0,7.0,7.0,4.0,1.0

In [37]:
# Create a function to filter the school, year, group, and subject - arguments are lists
def filter_school_year(school_list, year_list, subject_list, group_list):
    return df[(df['Location'].isin(school_list)) & 
              (df['Admin'].isin(year_list)) &
              (df['Subject'].isin(subject_list)) &
              (df['Group'].isin(group_list))]

In [48]:
df_21_total = filter_school_year(schools, ['Spring 2021'], ['Reading','Mathematics'], ['Total'])

In [55]:
# Create a function to create a dataframe of % at a score-band (e.g. Meets/Masters)
def calculate_threshold_per(df, score_band, year):
    year_threshold = (((df.groupby(['Location', 'Subject'])[score_band].sum())/(df.groupby(['Location', 'Subject'])['Number Tested'].sum())).round(3)*100).to_frame()
    if score_band == 'Meets - N':
        band = 'Meets/Masters'
    elif score_band == 'Did Not Meet - N':
        band = 'Did Not Meet'
    year_threshold.columns = [f"% {band} in {year}"]
    return year_threshold

In [57]:
df_21_meets = calculate_threshold_per(df_21_total, 'Meets - N', '20-21')

In [67]:
df_21_meets

                                % Meets/Masters in 20-21
Location           Subject
Atkins             Mathematics                      16.3
                   Reading                          28.1
Cavazos            Mathematics                      22.6
                   Reading                          24.1
Dunbar             Mathematics                       9.3
                   Reading                          16.0
Evans              Mathematics                      27.3
                   Reading                          42.5
Hutchinson         Mathematics                      49.2
                   Reading                          62.3
Irons              Mathematics                      20.3
                   Reading                          33.9
Juvenile Detention Mathematics                      20.0
                   Reading                           0.0
Mackenzie          Mathematics                      13.3
                   Reading                          24.4
McCool             Mathematics                      39.0
                   Reading                          45.7
Slaton             Mathematics                      10.8
                   Reading                          16.3
Talkington         Mathematics                      75.6
                   Reading                          73.4

In [63]:
df_21_not_meets = calculate_threshold_per(df_21_total, 'Did Not Meet - N', '20-21')

In [64]:
df_21_not_meets

                                % Did Not Meet in 20-21
Location           Subject
Atkins             Mathematics                     50.3
                   Reading                         41.1
Cavazos            Mathematics                     45.6
                   Reading                         46.3
Dunbar             Mathematics                     64.6
                   Reading                         59.4
Evans              Mathematics                     40.1
                   Reading                         30.4
Hutchinson         Mathematics                     20.7
                   Reading                         14.6
Irons              Mathematics                     48.4
                   Reading                         38.1
Juvenile Detention Mathematics                     80.0
                   Reading                         60.0
Mackenzie          Mathematics                     63.7
                   Reading                         48.0
McCool             Mathematics                     25.8
                   Reading                         27.3
Slaton             Mathematics                     64.1
                   Reading                         57.2
Talkington         Mathematics                      1.1
                   Reading                          3.0

In [66]:
df_21_meets.merge(df_21_not_meets, left_index=True, right_index=True)

                                % Meets/Masters in 20-21  \
Location           Subject
Atkins             Mathematics                      16.3
                   Reading                          28.1
Cavazos            Mathematics                      22.6
                   Reading                          24.1
Dunbar             Mathematics                       9.3
                   Reading                          16.0
Evans              Mathematics                      27.3
                   Reading                          42.5
Hutchinson         Mathematics                      49.2
                   Reading                          62.3
Irons              Mathematics                      20.3
                   Reading                          33.9
Juvenile Detention Mathematics                      20.0
                   Reading                           0.0
Mackenzie          Mathematics                      13.3
                   Reading                          24.4
McCool             Mathematics                      39.0
                   Reading                          45.7
Slaton             Mathematics                      10.8
                   Reading                          16.3
Talkington         Mathematics                      75.6
                   Reading                          73.4

                                % Did Not Meet in 20-21
Location           Subject
Atkins             Mathematics                     50.3
                   Reading                         41.1
Cavazos            Mathematics                     45.6
                   Reading                         46.3
Dunbar             Mathematics                     64.6
                   Reading                         59.4
Evans              Mathematics                     40.1
                   Reading                         30.4
Hutchinson         Mathematics                     20.7
                   Reading                         14.6
Irons              Mathematics                     48.4
                   Reading                         38.1
Juvenile Detention Mathematics                     80.0
                   Reading                         60.0
Mackenzie          Mathematics                     63.7
                   Reading                         48.0
McCool             Mathematics                     25.8
                   Reading                         27.3
Slaton             Mathematics                     64.1
                   Reading                         57.2
Talkington         Mathematics                      1.1
                   Reading                          3.0